@media (min-width: 768px) {
  :root {
    --container_padding: 114px;
    --wrap_padding_similar: 94px;
    --margin-between-text: 12px;
  }

  /*Common*/
  .font-es {
    font-size: 12px;
    line-height: 12px;
  }

  .font-s {
    font-size: 16px;
    line-height: 24px;
  }

  .font-m {
    font-size: 20px;
    line-height: 20px;
  }

  .font-em {
    font-size: 20px;
    line-height: 20px;
  }

  .font-el {
    font-size: 48px;
    line-height: 48px;
  }

  .section-title {
    font-size: 48px;
    line-height: 48px;
  }

  .section-sub-title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 30px;
  }

  .btn-primary {
    padding: 23px 52px;

    font-size: 20px;
    line-height: 20px;
  }


  /*Header block*/
  .header__logo-wrap {
    padding: 23px 114px;
  }

  .header__logo {
    width: 113px;
    height: 14px;
  }

  .header__navbar-wrap {
    padding: 20px 114px;
  }

  .header__btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }

  .header__btn-log-in {
    position: static;
  }

  .air-wrap {
    display: none;
  }

  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 22px 114px;
  }

  .header-bottom-nav-list {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
    row-gap: 0;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .play-btn {
    display: block;
  }

  .form-search__input-search:focus {
    width: 308px;
  }

  .header-archive__item-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .header-archive__item-wrap:after {
    height: 35px;
  }

  .header-archive__item-wrap {
    width: 175px;
    padding: 0 10px;
  }

  .header-archive__item-wrap:first-child {
    padding-left: 10px;
  }

  .header-archive__item-wrap:last-child {
    padding-right: 10px;
  }

  .header-archive_active {
    top: -135px;
    right: var(--container_padding);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;

    border-radius: 10px;
  }

  .archive-text-wrap__desc {
    font-size: 12px;
    line-height: 12px;
  }

  .archive-text-wrap__title {
    font-size: 16px;
    line-height: 16px;
  }

  .header-archive {
    top: -135px;
    right: var(--container_padding);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 0;

    border-radius: 10px;
  }

  .header-nav_active {
    height: 400px;
    padding: 106px var(--container_padding);
  }

  .header-nav__list {
    -webkit-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px;
    row-gap: 60px;
    height: 400px;
    padding: 106px var(--container_padding);
    padding-right: 404px;


  }

  .header-nav__list_active {
    background-image: url("../source/img/springs.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - var(--container_padding)) -47px;
  }

  .header-bottom-nav-list__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  /*---------------*/


  /*Hero block*/
  .hero {
    padding: 90px 0;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__title,
  .hero__title-bold {
    font-size: 60px;
    line-height: 60px;
  }

  .hero__text {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
  }
  /*--------------*/


  /*Podcasts block*/
  .podcasts__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 540px;
  }

  .card-top {
    min-width: 112px;
    height: 140px;
  }

  .card-date {
    top: 124px;
  }

  .card-main-wrap {
    width: 100%;
  }

  .card-main {
    padding: 24px 30px;
  }

  .card-main-time {
    font-size: 12px;
    line-height: 12px;
  }

  .card-main__title {
    margin-bottom: 4px;
  }

  .card-main__author {
    font-size: 16px;
    line-height: 16px;
  }

  .card-bottom {
    padding: 9px 30px 6px;
  }

  .action-text {
    line-height: 16px;
  }

  .action-btn-wrap {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  /*---------------*/


  /*Broadcast block*/
  .broadcast-top-wrap {
    margin-bottom: 47px;
  }

  .broadcast-cards-list__item {
    width: 255px;
  }

  .broadcast-card-img-wrap {
    height: 148px;
  }

  .broadcast-content-wrap {
    padding: 20px 16px;
  }

  .broadcast-card-title {
    font-size: 20px;
    line-height: 20px;
  }

  .broadcast-card-sub-title {
    margin-bottom: 20px;
  }

  .broadcast-card-link__arrow {
    width: 26px;
  }

  .broadcast-card-link {
    width: 117px;

    line-height: 16px;
  }

  .broadcast-archive-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .broadcast-archive {
    width: 345px;
    margin: 0 auto;
  }
  /*-------------------*/


  /*Quests block*/
  .guests__text {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 32px;
  }

  .guests__desc {
    font-size: 16px;
    line-height: 180%;
  }

  .guest-img-wrap {
    height: 220px;
  }
  /*------------------------*/


  /*Playlists block*/
  .radio-btn-form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .playlists-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .playlist-img-wrap {
    width: 112px;
    height: 112px;
  }

  .playlist-desc-wrap {
    width: 142px;
    padding: 10px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flag-wrap {
    left: 0;
  }

  .playlist-footer-wrap__info {
    line-height: 22px;
  }

  .playlist-footer-wrap__mark {
    font-size: 16px;
    line-height: 22px;
  }

  .playlist-footer-wrap__age {
    font-size: 12px;
    line-height: 16px;
  }
  /*----------------*/


  /*Radio wave block*/
  .radio {
    row-gap: 50px;
  }

  .radio-top-wrap {
    height: 474px;
  }

  .radio-info {
    font-size: 16px;
    line-height: 180%;
  }

  .radio-info__bottom {
    margin-bottom: 30px;
  }

  .radio-info__price {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
  }

  .radio__btn-buy-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    padding: 25px 13px;

    background-position: 14px 25px;
  }

  .form-radio-btn-wrap {
    display: none;
  }
  /*--------------------*/


  /*About us block*/
  .about-top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 30px;
  }

  .about__decoration-img {
    display: block;
  }

  .about__desc-text {
    font-size: 20px;
    line-height: 32px;
  }

  .about-cards-list__item {
    width: 255px;
  }

  .send-btn {
    height: 70px;
    margin-bottom: 30px;
  }

  .form-wrap {
    height: 495px;
  }

  .field-wrap {
    height: 70px;
  }

  .form-wrap-message {
    height: 150px;
  }

  .checkbox:checked + span:before {
    top: 1px;
  }
  /*---------------------------------*/


  /*Footer block*/
  .footer {
    background: var(--black_light);
  }

  .footer-top,
  .footer-bottom {
    background: inherit;
  }

  .footer-links-wrap {
    padding-bottom: 80px;
  }

  .footer-navbar {
    background: var(--black_light);
  }

  .footer-navbar__list {
    height: 108px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 200px;
    -moz-column-gap: 200px;
    column-gap: 200px;
    padding: 0;
    margin-bottom: 80px;

    font-size: 16px;
    line-height: 16px;
  }

  .footer-navbar__list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-bottom__text {
    font-size: 16px;
    line-height: 103.34%;
  }
  /*-------------------------------------*/


  /*Accordion*/
  .accordion-wrap {
    margin-bottom: 50px;
  }

  .quests-list__item {
    font-size: 20px;
    line-height: 20px;
  }

  .ui-accordion .ui-accordion-header {
    padding: 20px 0;
  }

  .text-wrap {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px 0;
  }

  .accordion-link-wrap {
    width: 160px;
  }

  .accordion-link {
    font-size: 15px;
    line-height: 16px;
  }

}

@media (min-width: 1024px) {
  :root {
    --container_padding: 100px;
    --wrap_padding_similar: 94px;
  }

  /*Header block*/
  .burger-menu {
    display: none;
  }

  .header__logo-wrap {
    padding: 23px 100px;
  }

  .header__navbar-wrap {
    padding: 20px 100px;
  }

  .header-nav {
    position: static;
  }

  .header-nav__list {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-column-gap: 55px;
    -moz-column-gap: 55px;
    column-gap: 55px;
    padding: 0;

    background: inherit;
  }

  .header-bottom-nav-list {
    -webkit-column-gap: 27px;
    -moz-column-gap: 27px;
    column-gap: 27px;
  }

  .play-btn {
    display: none;
  }

  .header-archive {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }

  .header__bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 22px 100px;
  }

  .header-archive__item-wrap {
    width: 140px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  .header-archive:before,
  .header-archive:after {
    content: '';
    width: 1px;
    height: 40px;

    background: var(--light_grey);
  }

  .header-archive__item-wrap:after {
    height: 40px;
  }

  .header-archive_active {
    position: static;
    padding: 0;
    margin: 0;
  }

  .header-nav__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  /*---------------*/


  /*Hero block*/
  .hero {
    padding-right: 286px;

    background-image: url("../source/img/hero/microphone-1024.png");
    background-repeat: no-repeat;
    background-size: 256px 262px;
    background-position-x: right;
    background-position-y: 90px;
  }
  /*---------------*/


  /*Podcasts block*/
  .podcasts__card {
    width: 396px;
  }
  /*--------------*/


  /*Broadcast block*/
  .broadcast {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding-bottom: var(--wrap_padding_similar);
  }

  .broadcast-top-wrap {
    max-width: 255px;
  }

  .broadcast-cards-list__item {
    width: 254px;
  }

  .broadcast-archive-wrap {
    position: static;
    padding: 0;

    border: none;
  }

  .broadcast-archive {
    max-width: 255px;
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 0;

    background-position-y: top;
  }

  .broadcast-archive__text {
    margin-bottom: 0;

    font-size: 16px;
    line-height: 24px;
  }

  .broadcast-archive__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 11px 45px;
    margin-bottom: 12px;
  }

  .broadcast-archive__btn span {
    height: 18px;
  }

  .choices[data-type*=select-one] {
    margin-bottom: 65%;
  }
  /*--------------------*/


  /*Quests block*/
  .guests-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .accordion-wrap {
    width: 540px;
  }

  .guests-desc-wrap {
    width: 255px;
  }

  .text-wrap {
    row-gap: 16px;
  }

  .guest-img-wrap {
    width: 255px;
    height: 159px;
  }
  /*-----------------*/


  /*Playlists block */
  .radio-group-wrap {
    row-gap: 16px;
  }
  /*-----------------*/


  /*Radio wave block*/
  .radio {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .radio-top-wrap {
    min-width: 397px;
    height: 349px;
  }
  /*-----------------*/


  /*About us block*/
  .about-top-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .about-top-wrap__text {
    padding-right: 0;
    margin: 0;
  }

  .about__decoration-img {
    min-width: 255px;
    max-width: 255px;
    height: 255px;
    margin-right: var(--container_padding);

    background-image: url("../source/img/about/decoration-img-1024.png");
  }

  .input-wrap {
    max-width: 920px;
  }
  /*-----------------*/


  /*Footer block*/
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 109px;
    -moz-column-gap: 109px;
    column-gap: 109px;
    padding: var(--wrap_padding_similar);
  }

  .footer-links-wrap {
    width: 260px;
    padding: 0;
  }

  .footer-navbar__list {
    height: 88px;
    -webkit-column-gap: 109px;
    -moz-column-gap: 109px;
    column-gap: 109px;
    padding: 0;
    margin-bottom: 0;
  }

  .social-links-icon {
    width: 24px;
    height: 24px;
  }

  .footer-social-links-wrap__link {
    width: 24px;
  }

  .footer-navbar__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  /*Accordion*/
  .accordion-wrap {
    margin-bottom: 0;
  }
}


@media (min-width: 1920px) {
  :root {
    --container_padding: 405px;
  }

  /*Header block*/
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 405px;
    margin: 0 auto;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__logo-wrap {
    padding: 0;
    margin: 0;

    background: var(--white);
  }

  .header__logo {
    width: 160px;
    height: 20px;
  }

  .header__navbar-wrap {
    padding: 0;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
  }

  .header__btn-log-in {
    padding: 10px 30px;
  }

  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 52px;
    -moz-column-gap: 52px;
    column-gap: 52px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 405px;
  }

  .header-bottom-nav-list {
    -webkit-column-gap: 52px;
    -moz-column-gap: 52px;
    column-gap: 52px;
  }

  .header-archive {
    padding: 0;
  }

  .header__age-wrap {
    display: block;
    padding: 15px 8px;
  }
  /*------------*/


  /*Hero block*/
  .hero {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 475px;

    background-image: url("../source/img/hero/microphone-1920.png");
    background-size: 350px 372px;
    background-position-y: 38px;
  }

  .hero__text {
    margin-bottom: 45px;
  }
  /*-------------------*/


  /*Podcasts block*/
  .podcasts__card {
    width: 540px;
  }
  /*-----------------*/


  /*Quests block*/
  .accordion-wrap {
    width: 730px;
  }

  .guests-desc-wrap {
    width: 350px;
  }

  .guest-img-wrap {
    width: 350px;
    height: 220px;
  }
  /*-----------------*/


  /*Playlists block*/
  .playlists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding: var(--wrap_padding_similar) 0;
  }

  .playlists-top-wrap {
    min-width: 350px;
  }

  .playlists-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .playlist-img-wrap {
    width: 160px;
    height: 160px;
  }

  .playlist-desc-wrap {
    width: 100%;
  }

  .flag-wrap {
    left: revert;
  }

  .radio-btn-form-wrap {
    row-gap: 16px;
    margin-bottom: 30px;
  }

  .playlist-footer-wrap {
    position: static;
    max-width: 350px;
  }
  /*----------------*/


  /*Radio wave block*/
  .radio-top-wrap {
    min-width: 640px;
    height: 562px;
  }
  /*----------------*/


  /*About us block*/
  .about-top-wrap {
    margin: 0 auto 30px;
    max-width: 1920px;
  }

  .form-wrap {
    height: 394px;
  }

  .field-wrap {
    width: 445px;
    margin: 0;
  }

  .form-wrap-message {
    width: 920px;
    margin-bottom: 30px;
  }

  .about__decoration-img {
    min-width: 445px;
    max-width: 445px;
    height: 290px;
    margin-right: var(--container_padding);

    background-image: url("../source/img/about/decoration-img-1920.png");
  }

  .input-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-bottom: 30px;
  }
  /*-----------------*/


  /*Footer block*/
  .footer-top {
    max-width: 1920px;
    margin: 0 auto;
    -webkit-column-gap: 505px;
    -moz-column-gap: 505px;
    column-gap: 505px;
    padding: var(--wrap_padding_similar) var(--container_padding);
  }

  .footer-social-links-wrap {
    height: 24px;
  }

  .footer-navbar {
    padding: 0 var(--container_padding) 0 0;
  }

  .footer-bottom {
    padding: 30px var(--container_padding) 10px;
  }
}
